<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
			point="org.eclipse.ui.navigator.viewer">
		<viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
			<includes>
				<contentExtension pattern="org.eclipse.wst.jsdt.js.grunt.internal.ui.GruntFileContent" />
			</includes>
		</viewerContentBinding>
	</extension>
	
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent 
            id="org.eclipse.wst.jsdt.js.grunt.internal.ui.GruntFileContent" 
            name="Grunt Task Content Provider"
            contentProvider="org.eclipse.wst.jsdt.js.grunt.internal.ui.GruntFileContentProvider"
            labelProvider="org.eclipse.wst.jsdt.js.grunt.internal.ui.GruntLabelProvider" 
            activeByDefault="true"
            icon=""
            priority="high" >
         <triggerPoints>
	            <and>
	               <instanceof value="org.eclipse.core.resources.IResource"/>
	               <test
	                     forcePluginActivation="true"
	                     property="org.eclipse.core.resources.name"
	                     value="*.js"/>
	            </and>
         </triggerPoints>
      </navigatorContent>
   </extension>
   
   <extension point="org.eclipse.core.runtime.adapters">
		<factory 
            class="org.eclipse.wst.jsdt.js.grunt.internal.ui.GruntFileAdapterFactory" 
            adaptableType="org.eclipse.wst.jsdt.js.grunt.internal.GruntTask">
            <adapter
               type="org.eclipse.debug.ui.actions.ILaunchable">
         	</adapter>
		</factory>
	</extension>
	
	<extension
         point="org.eclipse.debug.ui.launchShortcuts">
     	 <shortcut
            category="org.eclipse.ui.externaltools"
            class="org.eclipse.wst.jsdt.js.grunt.internal.launch.GenericGruntLaunch"
            description="Grunt Task"
            helpContextId="org.eclipse.ui.externaltools.launchShortcutHelpContext.gruntShortcut"
            icon="icons/full/obj16/gruntfile.png"
            id="org.eclipse.wst.jsdt.js.grunt.internal.launch.GruntLaunchShortcut"
            label="Grunt Task"
            modes="run">
        <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
             </with>
           </enablement>
           <contextLabel
         	  mode="run"
         	  label="Grunt Task"/>
  		 </contextualLaunch>
    	</shortcut>
    </extension>
    
</plugin>

